<div class="hero mt45">
    <div class="hero-left">
      <h1 class="mb30">John Marsden</h1>
      <p class="intro intro-text">
        Hi, I’m John, a UK based full stack developer living and working in London. Currently looking for a new role.
        <br>
        <br>
        I worked in CNC and robotic programming but recently taken on the new challenge of being a full stack developer and now eager to share my skills and passion for building.
      </p>
      <div class="links">
        <%= link_to 'https://www.linkedin.com/in/johnmarsden24/', class: "mr30", target: "_blank", :action => 'go' do %>
          <%= image_tag "linkedin.svg", class: "hover-big", alt: "LinkedIn logo" %>
        <% end %>
        <%= link_to 'https://github.com/JohnMarsden24', class: "mr30", target: "_blank", :action => 'go' do %>
          <%= image_tag "github.svg", class: "hover-big", alt: "Github logo" %>
        <% end %>
        <%= mail_to 'john.marsden24@gmail.com', class: "mr30", target: "_blank", :action => 'go' do %>
          <%= image_tag "email.svg", class: "hover-big", alt: "email logo" %>
        <% end %>
        <%= link_to download_pdf_path, target: "_blank", :action => 'go' do %>
          <%= image_tag "cv.svg", class: "hover-big", alt: "contact card logo" %>
        <% end %>
      </div>
    </div>
    <div class="hero-right">
      <%= image_tag "hero-logo.png", alt: "Full stack illustration", class: "hero-img" %>
    </div>
</div>


