<div class="flex-container navbar-spacing-small space-between">
    <div class="width50 mt70-0">
        <h1 class="mb30">Hi, I'm John</h1>
        <p class="width85 intro mb60">
            A full stack developer based in London, UK and I like to build things with great people.
            <br>
            <br>
            Currently looking for a new role, so let's chat.
        </p>
        <div class="link-container">
            <%= link_to 'https://www.linkedin.com/in/johnmarsden24/', class: "mr30", target: "_blank", :action => 'go' do %>
            <%= image_tag "linkedin.svg", class: "hover-big", alt: "LinkedIn logo" %>
            <% end %>
            <%= link_to 'https://github.com/JohnMarsden24', class: "mr30", target: "_blank", :action => 'go' do %>
            <%= image_tag "github.svg", class: "hover-big", alt: "Github logo" %>
            <% end %>
            <%= mail_to 'john@johnmarsden.dev', target: "_blank", :action => 'go' do %>
            <%= image_tag "email.svg", class: "hover-big", alt: "email logo" %>
            <% end %>
        </div>
    </div>
    <%= image_tag "hero-logo.png", alt: "Full stack illustration", class: "width45 height100 hide" %>
</div>