<div class="hero-logo text-black">
  <div>
    <h1>John<br>Marsden</h1>
    <h3 class="tac job-title">&lt; Full Stack Developer /&gt;</h3>
    <div class="links center">
      <%= link_to "<i class='fab fa-github'></i>".html_safe, 'https://github.com/JohnMarsden24', class: "no-d", target: "_blank" %>
      <%= link_to "<i class='fab fa-linkedin-in'></i>".html_safe, 'https://www.linkedin.com/in/johnmarsden24/', class: "no-d", target: "_blank" %>
      <%= mail_to 'john.marsden24@gmail.com', "<i class='fas fa-envelope no-d'></i>".html_safe %>
      <%= link_to "<i class='fas fa-file-download no-d'><span class='lato'> CV</span></i>".html_safe, download_pdf_path, target: "_blank" %>
    </div>
  </div>
  <%= image_tag "hero-logo", alt: "alttext" %>
</div>

