<div class="hero-logo text-black">
  <div>
    <%= image_tag "hero-name.svg", alt: "alttext", class: "hero-name" %>
    <div class="links center tac">
      <%= mail_to 'john.marsden24@gmail.com', "<i class='fas fa-envelope no-d hover-big mlr1'></i>".html_safe %>
      <%= link_to "<i class='fab fa-linkedin-in hover-big mlr1'></i>".html_safe, 'https://www.linkedin.com/in/johnmarsden24/', class: "no-d", target: "_blank" %>
      <%= link_to "<i class='fab fa-github hover-big mlr1'></i>".html_safe, 'https://github.com/JohnMarsden24', class: "no-d ", target: "_blank" %>
      <%= link_to "<i class='fas fa-file-download no-d hover-big mlr1'><span class='lato'> CV</span></i>".html_safe, download_pdf_path, target: "_blank" %>
    </div>
  </div>
  <%= image_tag "hero-logo.png", alt: "alttext" %>
</div>

