<div class="hero-logo text-black">
  <div>
    <%= image_tag "hero-name.svg", alt: "alttext", class: "hero-name" %>
    <div class="links center tac">
      <%= mail_to 'john.marsden24@gmail.com', "<i class='fas fa-envelope no-d'></i>".html_safe, class: "mlr1" %>
      <%= link_to "<i class='fab fa-linkedin-in'></i>".html_safe, 'https://www.linkedin.com/in/johnmarsden24/', class: "no-d mlr1", target: "_blank" %>
      <%= link_to "<i class='fab fa-github'></i>".html_safe, 'https://github.com/JohnMarsden24', class: "no-d mlr1", target: "_blank" %>
      <%= link_to "<i class='fas fa-file-download no-d'><span class='lato'> CV</span></i>".html_safe, download_pdf_path, target: "_blank", class: "mlr1" %>
    </div>
  </div>
  <%= image_tag "hero-logo.png", alt: "alttext" %>
</div>

