<% @projects.each_with_index do |project, index| %>

      <div class="project-card <%= project.flex_direction(index) %>">
        <div class="project-img-container <%= project.right_or_left(index) %>">
          <%= cl_image_tag project.photos.first&.key, class: "project-image", alt: "Project image" %>
        </div>
        <div class="project-text-container">
          <div class="project-description">
            <h2 class="mb15"><%= project.name %></h2>
              <% if project.description.length < 200 %>
                <p class="intro mb15"><%= project.description %></p>
              <% else %>
                <div class="text-fade-container mb15">
                  <p class="intro"><%= project.description %></p>
                  <div class="text-fade">
                  </div>
                </div>
              <% end %>
            <div class="mb30">
              <%= link_to "Read case study", project_path(project), class: "bold" %>
            </div>
            <div class="project-links">
              <div class="project-link mr30">
                <%= image_tag "github.svg", class: "link-image", alt: "Github logo" %>
                <%= link_to "View source", project.github, target: "_blank"  %>
              </div>
              <div class="project-link mr30">
                <%= image_tag "screen.svg", class: "link-image", alt: "Computer screen logo" %>
                <%= link_to "View site", project.url, target: "_blank"  %>
              </div>
            </div>
          </div>
        </div >
      </div>

<% end %>

