
  <div class="mb4">
    <div class="project-title mtb2">
      <h2 class="bold text-dark-blue pr1 title no-m" style="border-bottom: 6px solid <%= project.color %>"><%= project.name %></h2>
      <div>
        <%= link_to "<i class='fas fa-desktop'></i> Visit site".html_safe , project.url, class: "mr1 no-d", target: "_blank" %>
        <%= link_to "<i class='fab fa-github'></i> View source".html_safe, project.github, class: "no-d", target: "_blank" %>
      </div>
    </div>
    <p class="taj no-m">
      <%== project.description %>
    </p>
  </div>
  <div class="grid-container-text">
    <div>
      <div class="mb4">
        <h4 class="bolder text-dark-blue bottom-border-dark-blue mb2">Project difficulties</h4>
        <p>
          <%== project.difficulties %>
        </p>
      </div>
      <div class="mb4">
        <h4 class="bolder text-dark-blue bottom-border-dark-blue mb2">Project solution</h4>
        <p class="no-m">
          <%== project.solution %>
        </p>
      </div>
    </div>
    <div>
      <div class="mb4">
        <h4 class="bolder text-dark-blue bottom-border-dark-blue mb2">Languages used</h4>
        <ul class="project-list">
          <% project.technologies.each do |technology| %>
            <li class="project-list-item">
              <%= technology %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="mb4">
        <h4 class="bolder text-dark-blue bottom-border-dark-blue mb2">Project features</h4>
        <ul class="project-list no-m">
          <% project.features.each do |feature| %>
            <li class="project-list-item">
              <%= feature %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <%= link_to "<i class='fas fa-long-arrow-alt-left mb4'></i> Back to projects".html_safe, projects_path, class: "no-d"  %>
