<div class="page-container">
  <%= render "projects/carousel" %>
  <div class="project-text-container center off-black">
    <div class="project-title mtb2">
      <h2 class="bold dark-blue back-shadow title"><%= @project.name %></h2>
      <div>
        <%= link_to "<i class='fas fa-desktop'></i> Visit site".html_safe , @project.url, class: "mr1 no-d", target: "_blank" %>
        <%= link_to "<i class='fab fa-github'></i> View source".html_safe, @project.github, class: "no-d", target: "_blank" %>
      </div>
    </div>
    <p class="taj">
      <%= @project.description %>
    </p>
    <div class="row">
      <div class="col-md-8 taj">
        <h4 class="bolder dark-blue mtb2 bottom-border">Project difficulties</h4>
        <p>
          <%= @project.difficulties %>
        </p>
        <h4 class="bolder dark-blue mtb2 bottom-border">Project solution</h4>
        <p>
          <%= @project.solution %>
        </p>
      </div>
      <div class="col-12 col-md-4">
        <h4 class="bolder dark-blue mtb2 bottom-border">Languages used</h4>
        <ul class="project-list">
          <% @project.technologies.each do |technology| %>
            <li>
              <%= technology %>
            </li>
          <% end %>
        </ul>
        <h4 class="bolder dark-blue mtb2 bottom-border">Project features</h4>
        <ul class="project-list">
          <% @project.features.each do |feature| %>
            <li>
              <%= feature %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= link_to "<i class='fas fa-long-arrow-alt-left'></i> Back to projects".html_safe, root_path, class: "no-d"  %>
  </div>
</div>

